
.moving .content {
    height: 100%;
}

.moving-content{ 
    margin-top: 56px;
    display: flex;
}

.moving-content .moving-content-aside {
    display: none;
}

.moving-content .moving-content-content {
    width: 100%;
    margin-left: auto;
}